<a href="https://colab.research.google.com/github/puneethn3683/python-from-colab-and-idle/blob/main/LAB_MANUAL_PRACTICALS_PUNEETH_S2_3683.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***N.PUNEETH_S2_3683 IP LAB WORK (11TH) PYTHON***

In [ ]:
1.# To find average and grade for given marks.


n=input('ENTER STUDENT NAME:')
sid=input('ENTER STUDENT ID:')
c=input('ENTER STUDENT CLASS:')
sec=input('ENTER STUDENT SECTION:')
sub1=input('ENTER SUBJECT 1:')
m1=int(input('ENTER MARKS IN SUBJECT 1:'))
sub2=input('ENTER SUBJECT 2:')
m2=int(input('ENTER MARKS IN SUBJECT 2:'))
sub3=input('ENTER SUBJECT 3:')
m3=int(input('ENTER MARKS IN SUBJECT 3:'))
sub4=input('ENTER SUBJECT 4:')
m4=int(input('ENTER MARKS IN SUBJECT 4:'))
sub5=input('ENTER SUBJECT 5:')
m5=int(input('ENTER MARKS IN SUBJECT 5:'))
tot=m1+m2+m3+m4+m5
avg=tot//5
if m1<40 or m2<40 or m3<40 or m4<40 or m5<40:
  msg='FAILED'
  GRADE='F'
elif avg>=95:
  msg='DISTINCTION'
  GRADE='A+'
elif avg>=85:
  msg='VERY GOOD'
  GRADE='A'
else:
  msg='GOOD'
  GRADE='B'

print('-------------------------------------------------------------')
print('\t\tHAPPY VALLEY SCHOOL')
print('-------------------------------------------------------------')
print('PROGRESS REPORT OF',n)
print('-------------------------------------------------------------')
print('STUDENT NAME:',n)
print('STUDENT ID:',sid)
print('CLASS:',c)
print('SECTION:',sec)
print('1st SUBJECT:',sub1)
print('MARKS IN:',sub1,':',m1)
print('2nd SUBJECT:',sub2)
print('MARKS IN:',sub2,':',m2)
print('3rd SUBJECT:',sub3)
print('MARKS IN:',sub3,':',m3)
print('4th SUBJECT:',sub4)
print('MARKS IN',sub4,':',m4)
print('5th SUBJECT:',sub5)
print('MARKS IN',sub5,':',m5)
print('TOTAL MARKS:',tot)
print('AVERAGE MARKS:',avg)
print('GRADE:',GRADE)
print('RESULT:',msg)
print('-------------------------------------------------------------')

ENTER STUDENT NAME:Puneeth
ENTER STUDENT ID:HVS3683
ENTER STUDENT CLASS:12
ENTER STUDENT SECTION:S2
ENTER SUBJECT 1:Maths
ENTER MARKS IN SUBJECT 1:100
ENTER SUBJECT 2:Physics
ENTER MARKS IN SUBJECT 2:85
ENTER SUBJECT 3:Chemistry
ENTER MARKS IN SUBJECT 3:90
ENTER SUBJECT 4:English
ENTER MARKS IN SUBJECT 4:85
ENTER SUBJECT 5:IP
ENTER MARKS IN SUBJECT 5:100
-------------------------------------------------------------
		HAPPY VALLEY SCHOOL
-------------------------------------------------------------
PROGRESS REPORT OF Puneeth
-------------------------------------------------------------
STUDENT NAME: Puneeth
STUDENT ID: HVS3683
CLASS: 12
SECTION: S2
1st SUBJECT: Maths
MARKS IN: Maths : 100
2nd SUBJECT: Physics
MARKS IN: Physics : 85
3rd SUBJECT: Chemistry
MARKS IN: Chemistry : 90
4th SUBJECT: English
MARKS IN English : 85
5th SUBJECT: IP
MARKS IN IP : 100
TOTAL MARKS: 460
AVERAGE MARKS: 92
GRADE: A
RESULT: VERY GOOD
-------------------------------------------------------------

In [ ]:
2.#To find sale price of an item with given cost and discount (%).
cost=float(input('ENTER COST OF AN ITEM:'))
dp=float(input('ENTER DISCOUNT PERCENTAGE:'))
sp=cost-(cost*(dp/100))
print('------------------------')
print('COST OF AN ITEM:',cost)
print('DISCOUNT PERCENTAGE:',dp)
print('------------------------')
print('SALE PRICE OF AN ITEM:',sp)

ENTER COST OF AN ITEM:250
ENTER DISCOUNT PERCENTAGE:10
SALE PRICE OF AN ITEM: 225.0

In [ ]:
3.#Area, Perimeter of triangle
length=float(input('Enter the length of base of triangle'))
height=float(input('Enter the height of triangle'))
side=float(input('Enter the value of side'))
area=(1/2)*(length)*(height)
perimeter=length+height+side
print('------------------------------------------')
print('\t\tGEOMETRY CALCULATOR Of TRIANGLE')
print('------------------------------------------')
print('Length of Base of Triangle=',length)
print('Height of Triangle=',height)
print('Side of Triangle=',side)
print('------------------------------------------')
print('Area of Triangle=',area)
print('Perimeter of Triangle=',perimeter)
print('-----------------------------------------------------------------')

Enter the length of base of triangle25
Enter the height of triangle250
Enter the value of side20
------------------------------------------
		GEOMETRY CALCULATOR Of TRIANGLE
------------------------------------------
Length of Base of Triangle= 25.0
Height of Triangle= 250.0
Side of Triangle= 20.0
------------------------------------------
Area of Triangle= 3125.0
Perimeter of Triangle= 295.0
-----------------------------------------------------------------

In [ ]:
#Area, Perimeter of Rectangle

side1=float(input('Enter the value of side 1 of rectangle:'))
side2=float(input('Enter the value of side 2 of rectangle:'))
area=side1*side2
perimeter=2*(side1+side2)
print('--------------------------------------------------')
print('\t\tGEOMETRY CALCULATOR Of RECTANGLE',)
print('--------------------------------------------------')
print(' value of side 1 of rectangle=',side1)
print(' value of side 2 of rectangle=',side2)
print('--------------------------------------------------')
print('Area of Rectangle=',area)
print('Perimeter of Rectangle=',perimeter)
print('-----------------------------------------------------------------')

Enter the value of side 1 of rectangle:15
Enter the value of side 2 of rectangle:12
--------------------------------------------------
		GEOMETRY CALCULATOR Of RECTANGLE
--------------------------------------------------
Enter the value of side 1 of Rectangle= 15.0
Enter the value of side 2 of Rectangle= 12.0
--------------------------------------------------
Area of Rectangle= 180.0
Perimeter of Rectangle= 54.0
-----------------------------------------------------------------

In [ ]:
#Area, Perimeter of Square
side=float(input('Enter the value of side of Square'))
area=side**2
perimeter=side*4
print('--------------------------------------------')
print('\t\tGEOMETRY CALCULATOR Of SQUARE')
print('--------------------------------------------')
print(' value of side of Square=',side)
print('--------------------------------------------')
print('Area Of Square=',area)
print('--------------------------------------------')
print('Perimeter of Square=',perimeter)
print('-----------------------------------------------------------------')

Enter the value of side of Square10
--------------------------------------------
		GEOMETRY CALCULATOR Of SQUARE
--------------------------------------------
Enter the value of side of Square= 10.0
--------------------------------------------
Area Of Square= 100.0
--------------------------------------------
Perimeter of Square= 40.0
-----------------------------------------------------------------

In [ ]:
#Area, Circumference Of Circle
radius=float(input('Enter the value of Radius of Circle'))
area=(22/7)*(radius**2)
perimeter=(2)*(22/7)*(radius)
print('\t\tGEOMETRY CALCULATOR Of CIRCLE')
print('-----------------------------------------------------------------')
print(' value of radius of Circle=',radius)
print('-----------------------------------------------------------------')
print('Area Of Circle=',area)
print('-----------------------------------------------------------------------')
print('Perimeter of Circle=',perimeter)
print('-----------------------------------------------------------------------')

Enter the value of Radius of Circle10
		GEOMETRY CALCULATOR Of CIRCLE
-----------------------------------------------------------------
 value of radius of Circle= 10.0
-----------------------------------------------------------------
Area Of Circle= 314.2857142857143
-----------------------------------------------------------------------
Perimeter of Circle= 62.857142857142854
-----------------------------------------------------------------------

In [ ]:
4.#To calculate Simple and Compound interest.
p=float(input('ENTER PRINCIPAL LOAN AMOUNT:'))
t=int(input('ENTER TIME PERIOD IN YEARS:'))
r=float(input('ENTER RATE OF INTEREST:'))
n=int(input('ENTER NUMBER OF TIMES INTEREST IS COMPOUNDED PER YEAR:'))
si=(p*t*r)/100
ci=p*(1+(r/100)/n)**(n*t)
print('--------------------------------')
print('SIMPLE INTEREST CALCULATOR')
print('--------------------------------')
print('PRINCIPAL LOAN AMOUNT:',p)
print('TIME PERIOD IN YEARS:',t)
print('RATE OF INTEREST:',r)
print('NUMBER OF TIMES INTEREST IS COMPOUNDED PER YEAR:',n)
print('--------------------------------')
print('SIMPLE INTEREST:',si)
print('COMPUND INTEREST:',ci)

ENTER PRINCIPAL LOAN AMOUNT:25000
ENTER TIME PERIOD IN YEARS:1
ENTER RATE OF INTEREST:2.
ENTER NUMBER OF TIMES INTEREST IS COMPOUNDED PER YEAR:06
--------------------------------
PRINCIPAL LOAN AMOUNT: 25000.0
TIME PERIOD IN YEARS: 1
RATE OF INTEREST: 2.0
NUMBER OF TIMES INTEREST IS COMPOUNDED PER YEAR: 6
--------------------------------
SIMPLE INTEREST: 500.0
COMPUND INTEREST: 25000.0

In [ ]:
5.#To calculate profit-loss for given Cost and Sell Price.
cp=float(input('ENTER COST PRICE:'))
sp=float(input('ENTER SELLING PRICE:'))
p=sp-cp
l=cp-sp
if cp>sp:
  print('LOSS OF',l)
else:
  print('PROFIT OF',p)

ENTER COST PRICE:250
ENTER SELLING PRICE:260
PROFIT OF 10.0

In [ ]:
6# WAP To calculate EMI for Amount, Period and Interest.
rate=float(input('Enter the rate of amount'))
amount=int(input('Enter the amount'))
period=int(input('Enter the time period in years'))
intrest=amount*period*rate/100
tot=amount+intrest
emi=tot/(period*12)
print('-----------------------------')
print('\t\tEMI CALCULATOR')
print('-----------------------------')
print('RATE OF AMOUNT:',rate)
print('LOAN AMOUNT:',amount)
print('TIME PERIOD IN YEARS:',period)
print('-----------------------------')
print('INTREST:',intrest)
print('TOTAL AMOUNT:',tot)
print('EMI:',emi)
print('-----------------------------')

Enter the rate of amount2500
Enter the amount120
Enter the time period in years1
-----------------------------
RATE OF AMOUNT: 2500.0
AMOUNT: 120
TIME PERIOD IN YEARS: 1
-----------------------------
INTREST: 3000.0
TOTAL AMOUNT: 3120.0
EMI: 260.0
-----------------------------

In [ ]:
#7. To calculate  Income Tax.
income=float(input('Enter the annual income'))
if income<100000:
    tax=0(No Need To Pay IT)
elif income<500000:
    tax=(income-100000)*0.05
elif income<600000:
    tax=(income-500000)*0.07+10000
else :
    tax=(income-600000)*0.1+38000
print('Income Tax to pay',tax)

Enter the annual income250000
Income Tax to pay 7500.0

In [ ]:
#wap to calculate gst
cost=float(input('Enter the cost:'))
gstper=float(input('Enter the % charged for gst:'))
gst=cost*gstper/100
amount=cost+gst
print('GST:',gst)
print('Amount to Pay:',amount)

Enter the cost:250
Enter the % charged for gst:1.5
GST: 3.75
Amount to Pay: 253.75

In [ ]:
8.#To find the largest and smallest numbers in a list.
numbers = int(input('Enter the numbers:'))
L=[]
for x in range(1,numbers+1):
  val=int(input('Enter list element:'))
  L.append(val)
largestnumber = max(L)
smallestnumber = min(L)
print("The list is: ",L)
print("The largest number in the list is:",largestnumber)
print("The smallest number in the list is:",smallestnumber)

Enter the numbers:5
Enter list element:56
Enter list element:78
Enter list element:34
Enter list element:11
Enter list element:88
The list is:  [56, 78, 34, 11, 88]
The largest number in the list is: 88
The smallest number in the list is: 11

In [ ]:
# 9.# wap To find the third largest/smallest number in a list.
print('ATLEAST GIVE 7 NUMBERS')
numbers = int(input('Enter the numbers :'))
L = []
for x in range(1,numbers+1):
    val=int(input('Enter list element:'))
    L.append(val)
L.sort()
print('The list is:', L)
print('The third largest number in the list is:', L[-3])
print('The third smallest number in the list is:', L[2])

ATLEAST GIVE 7 NUMBERS
Enter the numbers :7
Enter list element:15
Enter list element:12
Enter list element:13
Enter list element:17
Enter list element:20
Enter list element:15
Enter list element:19
The list is: [12, 13, 15, 15, 17, 19, 20]
The third largest number in the list is: 17
The third smallest number in the list is: 15

In [ ]:
10.#To find the sum of squares of the first 100 natural numbers.
sum = 0
for x in range(1, 101):
  sum=sum+x ** 2
print('The sum of squares of the first 100 natural numbers is:',sum)

The sum of squares of the first 100 natural numbers is: 338350

In [ ]:
11.#To print the first ‘n’ multiples of given number.
number = int(input('Enter the number: '))
n = int(input('Enter how many multiples to print: '))
print('The  multiples of',number)
for i in range(1, n + 1):
  multiple = number * i
  print(multiple)

Enter the number: 10
Enter how many multiples to print: 10
The  multiples are: 10
10
20
30
40
50
60
70
80
90
100

In [ ]:
#12.To count the number of vowels in user entered string.
print('DO NOT USE SPECIAL CHARACTERS OR SPACES ')
word=input('Enter word:')
vowels=0
for i in word:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            vowels=vowels+1
consonants=len(word)-vowels
print('Number of vowels are:',vowels)
print('Number of consonants are:',consonants)

DO NOT USE SPECIAL CHARACTERS OR SPACES
Enter word:ABCDEF
Number of vowels are:
2
Number of consonants are:
4

In [ ]:
#13.wap To print the words starting with an alphabet in a user entered string.

sentence = input("Enter a sentence: ")
letter = input("Enter the starting letter to search for: ")
letter = letter.lower()
words = sentence.split()
sameword = []
for word in words:
    if word.lower().startswith(letter):
        sameword.append(word)
print("Words starting with '{}':".format(letter))
for word in sameword:
    print(word)

Enter a sentence: my name is puneeth
Enter the starting letter to search for: p
Words starting with 'p':
puneeth

In [ ]:
#14.To print number of occurrences of  alphabets in each string.
sentence= input("Enter a sentence: ")
L = {}
for letter in sentence:
  if letter in L:
    L[letter] = L[letter] + 1
  else:
    L[letter] = 1
for word in L:
  print(word,':',L[word])

Enter a sentence: puneeth
p : 1
u : 1
n : 1
e : 2
t : 1
h : 1

In [ ]:
#15.Create a dictionary to store names of states and their capitals.
f = {}
n = int(input('Enter the number of states: '))
for i in range(n):
  state = input('Enter the name of the state: ')
  capital = input('Enter the capital of the state: ')
  f[state] = capital
print('State AND Capitals:', f)

Enter the number of states: 1
Enter the name of the state: ap
Enter the capital of the state: amaravati
State AND Capitals: {'ap': 'amaravati'}

In [ ]:
# 16.Create a dictionary of students to store 'n' names and marks obtained in 'm' subjects.
studmarks={}
n=int(input('Enter the number of students:'))
m=int(input('Enter the number of subjects:'))
for x in range(1,n+1):
  name=input('Enter the name of the student:')
  tot=0
  marks=[]
  for y in range(1,m+1):
      print('ENTER MARKS IN SUBJECT:',y)
      mos=int(input())
      marks.append(mos)
      tot=tot+mos
  avg=tot/m
  marks.append(tot)
  marks.append(avg)
  if avg<40:
    marks.append('FAIL')
  else:
    marks.append('PASS')
  studmarks[name]=marks
  for x,y in studmarks.items():
    print(x,y)

Enter the number of students:2
Enter the number of subjects:2
Enter the name of the student:shiva
ENTER MARKS IN SUBJECT: 1
100
ENTER MARKS IN SUBJECT: 2
100
shiva [100, 100, 200, 100.0, 'PASS']
Enter the name of the student:guru
ENTER MARKS IN SUBJECT: 1
95
ENTER MARKS IN SUBJECT: 2
80
shiva [100, 100, 200, 100.0, 'PASS']
guru [95, 80, 175, 87.5, 'PASS']

In [ ]:
#17.To print the highest and lowest values in the dictionary.
numbers = int(input('Enter the numbers :'))
L = []
for x in range(1,numbers+1):
  val=int(input('Enter list element:'))
  L.append(val)
L.sort()
print('The list is:', L)
print('The highest value in the list is:', L[-1])
print('The lowest value in the list is:', L[0])
print('------------------------------------------')

Enter the numbers :5
Enter list element:20
Enter list element:15
Enter list element:26
Enter list element:13
Enter list element:25
The list is: [13, 15, 20, 25, 26]
The highest value in the list is: 26
The lowest value in the list is: 13
------------------------------------------

In [ ]:
#13.WAP  to  print the words starting with an alphabet in a user entered string

sentence = input("Enter a string: ")
alphabet = input("Enter the starting alphabet: ")
index = 0
word = []
while index < len(sentence):
    i = sentence[index]
    if i == [] or index == len(sentence) - 1:
        if index == len(sentence) - 1 and i != []:
            word.append(i)
        if word and word[0].lower() == alphabet.lower():
            print("".join(word))
        word = []
    else:
       word.append(i)
    index=index+1

Enter a string: puneeth
Enter the starting alphabet: p
puneeth

In [ ]:
names